---
extends: default

ignore: |
  node_modules/
  dist/

rules:
  line-length:
    max: 120
    level: error
  document-start:
    level: warning
  comments:
    min-spaces-from-content: 1
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
